<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t][%p] - (%F:%L) - %m%n" />
		</layout>
	</appender>
	
   <appender name="A1" class="org.apache.log4j.DailyRollingFileAppender">
      <param name="File"   value="C:/Rel_Center/log/release-center-log.log" />
      <param name="Append" value="true" />        
      <param name="DatePattern"   value="'.'yyyy-MM-dd-a" />
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d [%t][%p] - (%F:%L) - %m%n"/>
      </layout>       
   </appender>
   
   <appender name="RIDEPLOYMENT" class="org.apache.log4j.DailyRollingFileAppender">
      <param name="File"   value="C:/Rel_Center/log/RI-Deployment-log.log" />
      <param name="Append" value="true" />        
      <param name="DatePattern"   value="'.'yyyy-MM-dd-a" />
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d [%t][%p] - (%F:%L) - %m%n"/>
      </layout>       
   </appender>
   
   <appender name="EMSDEPLOYMENT" class="org.apache.log4j.DailyRollingFileAppender">
      <param name="File"   value="C:/Rel_Center/log/EMS-Deployment-log.log" />
      <param name="Append" value="true" />        
      <param name="DatePattern"   value="'.'yyyy-MM-dd-a" />
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d [%t][%p] - (%F:%L) - %m%n"/>
      </layout>       
   </appender>
   
   <appender name="FTPDEPLOYMENT" class="org.apache.log4j.DailyRollingFileAppender">
      <param name="File"   value="C:/Rel_Center/log/FTP-Deployment-log.log" />
      <param name="Append" value="true" />        
      <param name="DatePattern"   value="'.'yyyy-MM-dd-a" />
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d [%t][%p] - (%F:%L) - %m%n"/>
      </layout>       
   </appender>
   
   <appender name="CUSTOMS" class="org.apache.log4j.DailyRollingFileAppender">
      <param name="File"   value="C:/Rel_Center/log/GenerateAndUpload-log.log" />
      <param name="Append" value="true" />        
      <param name="DatePattern"   value="'.'yyyy-MM-dd-a" />
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d [%t][%p] - (%F:%L) - %m%n"/>
      </layout>       
   </appender>
   
   <appender name="WP" class="org.apache.log4j.DailyRollingFileAppender">
      <param name="File"   value="C:/Rel_Center/log/WP-log.log" />
      <param name="Append" value="true" />        
      <param name="DatePattern"   value="'.'yyyy-MM-dd-a" />
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d [%t][%p] - (%F:%L) - %m%n"/>
      </layout>       
   </appender>

	<logger name="com.cargosmart" additivity="false">
		<level value="debug"/>
		<appender-ref ref="A1"/>
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="RIDeployment" additivity="false">
		<level value="debug"/>
		<appender-ref ref="RIDEPLOYMENT"/>
	</logger>
	
	<logger name="com.cargosmart.release.service.base.ems.EmsScriptHandlerImpl" additivity="false">
		<level value="debug"/>
		<appender-ref ref="EMSDEPLOYMENT"/>
	</logger>
	
	<logger name="com.cargosmart.release.service.ri.ftp.DeploymentFtpServiceImpl" additivity="false">
		<level value="debug"/>
		<appender-ref ref="FTPDEPLOYMENT"/>
	</logger>
	
	<logger name="com.cargosmart.release.service.base.ftp.FtpScriptHandlerBase" additivity="false">
		<level value="debug"/>
		<appender-ref ref="FTPDEPLOYMENT"/>
	</logger>
	
	<logger name="com.cargosmart.release.util.CustomsCutoverUtil" additivity="false">
		<level value="debug"/>
		<appender-ref ref="CUSTOMS"/>
	</logger>
	
	<logger name="com.cargosmart.release.service.workplan.WorkPlanServiceImpl" additivity="false">
		<level value="debug"/>
		<appender-ref ref="WP"/>
	</logger>

	<category name="org.apache.log4j.xml">
		<priority value="info" />
	</category>

	<root>
      <priority value="info" />
      <appender-ref ref="A1" />
      <appender-ref ref="STDOUT" />
   </root>

</log4j:configuration>
