/*
author: linjie
modified date : 2016/1/4
*/


@charset "utf-8";
/* CSS reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td,button {font: 12px/1 "Microsoft YaHei", SimSun, sans-serif;line-height:18px;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}

html{color:#000;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {margin:0;padding:0;}
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video { display: inline-block;*display: inline;*zoom: 1;}
/* 要注意表单元素并不继承父级 font 的问题 */

input,select,textarea{font-size:100%;}
/* 去掉各Table  cell 的边距并让其边重合 */
table{border-collapse:collapse;border-spacing:0;}
/* IE bug fixed: th 不继承 text-align*/
th{text-align:inherit;}
/* 去除默认边框 */
fieldset,img{border:0;}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe{display:block;}
/* 一致的 del 样式 */
del {text-decoration:line-through;}
/* 统一上标和下标 */
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
/* 让链接在 hover 状态下显示下划线 */
a:hover {text-decoration:underline;
	-o-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}
/* 默认不显示下划线，保持页面简洁 */
ins,a {text-decoration:none;}
a img{ border:none;}
/* 文字排版 */
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f20{font-size:20px;}
.fb{font-weight:700;}
.fn{font-weight:400;}
.t2{text-indent:2em;}
.lh18{line-height:18px;}
.lh24{line-height:24px;}
.tdn{text-decoration:underline;}
.no_tdn{text-decoration:none;}
/*--------------------定位--------------------*/
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin:0 auto;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block}*html 
.clearfix{height:1%;zoom:1; font-size:0;width:100%; line-height:0}
.clearfix{display:block;}
.vm{vertical-align:middle;}
.pr{position:relative;}
.pa{position:absolute;}
.abs-right{position:absolute;right:0;}
.zoom{zoom:1;}
.hidden{visibility:hidden;}
.none{display:none;}
/*--------------------ie6 兼容--------------------*/
html{_text-overflow:ellipsis;} /*解决IE6下图片抖动*/
/* 修正IE6振动bug */
html,body{_background-image:url(about:blank);_background-attachment:fixed;}
.ie6fixedTL{position:absolute;left:expression(eval(document.documentElement.scrollLeft));top:expression(eval(document.documentElement.scrollTop))}
.ie6fixedBR{position:absolute;left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0));top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))}



/* 提示 */
.tips {
	display: none;
	position: absolute;
	top: 20px;
	left: 20px;
}
.tips span {
	font-size: 12px;
	color: #44c8b0;
	padding: 5px;
	border: 1px solid #44c8b0;
	border-radius: 3px;
}

/* 动画 */
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,-65%,0);
		transform: translate3d(0,-65%,0)
	}
	100% {
		opacity: 0.5;
		-webkit-transform: translate3d(0,-50%,0);
		transform: translate3d(0,-50%,0)
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0)
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,-65%,0);
		transform: translate3d(0,-65%,0)
	}
	100% {
		opacity: 0.5;
		-webkit-transform: translate3d(0,-50%,0);
		transform: translate3d(0,-50%,0)
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0)
	}
}
body {
	width: 100%;
	min-width: 1100px;
	text-align: center;
	background: #333;
}
.bg {
	width: 438px;
	margin: 0 auto;
}
.logo {
	margin: 50px 0;
}
/* tab链接 */
.tab_links {
	position: relative;
	width: 100%;
}
.tab_links a {
	position: relative;
	display: block;
	float: left;
	width: 50%;
	height: 55px;
	line-height: 55px;
	font-size: 18px;
	color: #a5a5a5;
	-o-transition: all .8s ease;
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	transition: all .8s ease;
	z-index: 2;
}
.tab_links a.active {
	color: #e7e7e7; 
	-o-transition: color .8s ease;
	-webkit-transition: color .8s ease;
	-moz-transition: color .8s ease;
	transition: color .8s ease;
}
.tab_links a:hover {
	text-decoration: none;
}
.color-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 55px;
	background: #404040;
	z-index: 1;
	-o-transition: left .8s ease-out;
	-webkit-transition: left .8s ease-out;
	-moz-transition: left .8s ease-out;
	transition: left .8s ease-out;
}
/* tab内容体 */
.tab_cons {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}
.tab_con {
	position: absolute;
	top: 0;
	width: 100%;
	-o-transition: all .8s ease;
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	transition: all .8s ease;
}
.tab_con_1 {
	left: -100%;
}
.tab_con_2 {
	left: 100%;
}
/* hover之后 */
.tab_con_1.active, .tab_con_2.active {
	left: 0;
	background: #404040;
	-o-transition: all .8s ease;
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	transition: all .8s ease;
}
.regi_form, .regi_other {
	height: auto;
	overflow: hidden;
	text-align: center;
}
.regi_other {
	padding: 5px 0 10px;
}
.regi_form {
	width: 358px;
	margin: 0 auto;
	padding: 20px 0 5px;
}
.regi_form input[type='text'] ,.regi_form input[type='password'] {
	width: 100%;
	height: 32px;
	padding-left: 2px;
	border: none;
	border-bottom: 1px solid #5d5d5d;
	background: none;
	outline: none;
	color: #9f9f9f;
	font-size: 14px;
	margin: 12px 0 20px;
}
.regi_form_button {
	margin: 15px 0;
	width: 100%;
	height: 45px;
	border: none;
	background: #04a3a3;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	border-radius: 11px;
	-o-transition: all .8s ease;
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	transition: all .8s ease;
}
.regi_form_button:hover {
	/*font-size: 20px;*/
	-o-transition: all .8s ease;
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	transition: all .8s ease;
}
.regi_other p {
	font-size: 16px;
	color: #ababab;
	margin: 15px 0 20px;
}
.regi_other_link {
	margin: 15px 0;
}
.regi_other_link a {
	margin: 0 20px;
	opacity: 0.8;
	-o-transition: opacity .5s ease;
	-webkit-transition: opacity .5s ease;
	-moz-transition: opacity .5s ease;
	transition: opacity .5s ease;
}
.regi_other_link a:hover {
	opacity: 1;
	-o-transition: opacity .5s ease;
	-webkit-transition: opacity .5s ease;
	-moz-transition: opacity .5s ease;
	transition: opacity .5s ease;
}
/* 自动登录 忘记密码 */
.auto_login, .forget {
	font-size: 14px;
	color: #9f9f9f;
	-o-transition: color .5s ease;
	-webkit-transition: color .5s ease;
	-moz-transition: color .5s ease;
	transition: color .5s ease;
}
.auto_login input {
	margin-right: 5px;
	vertical-align: middle;
}
.auto_login:hover, .forget:hover {
	color: #04a3a3;
	text-decoration: none;
	-o-transition: color .5s ease;
	-webkit-transition: color .5s ease;
	-moz-transition: color .5s ease;
	transition: color .5s ease;
}
/*  logo 动画 */
.logo {
	-webkit-animation: fadeInDown 2s;
	animation: fadeInDown 2s;
}