@charset "utf-8";
/* CSS reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td,button {font: 12px/1 "Microsoft YaHei", SimSun, sans-serif;line-height:18px;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}

html{color:#000;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {margin:0;padding:0;}
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video { display: inline-block;*display: inline;*zoom: 1;}
/* 要注意表单元素并不继承父级 font 的问题 */

input,select,textarea{font-size:100%;}
/* 去掉各Table  cell 的边距并让其边重合 */
table{border-collapse:collapse;border-spacing:0;}
/* IE bug fixed: th 不继承 text-align*/
th{text-align:inherit;}
/* 去除默认边框 */
fieldset,img{border:0;}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe{display:block;}
/* 一致的 del 样式 */
del {text-decoration:line-through;}
/* 统一上标和下标 */
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
/* 让链接在 hover 状态下显示下划线 */
a:hover {text-decoration:underline;
	-o-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}
/* 默认不显示下划线，保持页面简洁 */
ins,a {text-decoration:none;}
a img{ border:none;}
/* 文字排版 */
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f20{font-size:20px;}
.fb{font-weight:700;}
.fn{font-weight:400;}
.t2{text-indent:2em;}
.lh18{line-height:18px;}
.lh24{line-height:24px;}
.tdn{text-decoration:underline;}
.no_tdn{text-decoration:none;}
/*--------------------定位--------------------*/
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin:0 auto;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block}*html 
.clearfix{height:1%;zoom:1; font-size:0;width:100%; line-height:0}
.clearfix{display:block;}
.vm{vertical-align:middle;}
.pr{position:relative;}
.pa{position:absolute;}
.abs-right{position:absolute;right:0;}
.zoom{zoom:1;}
.hidden{visibility:hidden;}
.none{display:none;}
/*--------------------ie6 兼容--------------------*/
html{_text-overflow:ellipsis;} /*解决IE6下图片抖动*/
/* 修正IE6振动bug */
html,body{_background-image:url(about:blank);_background-attachment:fixed;}
.ie6fixedTL{position:absolute;left:expression(eval(document.documentElement.scrollLeft));top:expression(eval(document.documentElement.scrollTop))}
.ie6fixedBR{position:absolute;left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0));top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))}



