<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        ">
	<!-- 前台Dao -->
	<bean id="userDao" class="com.likits.dao.front.impl.UserDaoImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>
	
	
	<!-- 后台管理系统Dao -->
	<bean id="adminUserDao" class="com.likits.dao.admin.impl.UserDaoImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>
	
	<bean id="articleDao" class="com.likits.dao.front.impl.ArticleDaoImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>
	
</beans>
