<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc_driverClassName}" />
		<property name="url" value="${jdbc_url}"></property>
		<property name="username" value="${jdbc_username}"></property>
		<property name="password" value="${jdbc_password}"></property>
	</bean>

	<!-- MySQL Session Factory -->
	<bean id="mySessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />

		<!--指明使用标注的实体类-->
		<property name="annotatedClasses">
			<list>
				<value>com.likits.entity.admin.AdminUser</value>
				<value>com.likits.entity.admin.AdminRole</value>
				<value>com.likits.entity.front.Team</value>
				<value>com.likits.entity.front.User</value>
				<value>com.likits.entity.front.Article</value>
				
				<!-- 
				<value>com.ly.entity.post</value> 直接加实体类
				 -->
			</list>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<!-- 
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				 -->
				<prop key="hibernate.current_session_context_value">thread</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>
				<prop key="hibernate.connection.pool_size">5</prop>
				
				<!-- 
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				 -->
				
			</props>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="mySessionFactory" />
		</property>
	</bean>

	<!-- hibernate出现read-only时在这里改 -->
 	<aop:config>
		<aop:pointcut id="txServices" expression="execution(* com.likits.service..*.*(..))"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txServices"/>
	</aop:config>

 	<tx:advice id="txAdvice" transaction-manager="transactionManager">
  		<tx:attributes>
   		<tx:method name="get*" read-only="false" propagation="NOT_SUPPORTED"/>
   		<tx:method name="find*" read-only="false" propagation="REQUIRED"/>
   		<tx:method name="save*" propagation="REQUIRED"/> <!-- 如果不把save update delete都配置上，这些操作会无效  -->
   		<tx:method name="update*" propagation="REQUIRED"/> 
   		<tx:method name="delete*" propagation="REQUIRED"/>
  		<tx:method name="register*" propagation="REQUIRED"/>
  		</tx:attributes>
	</tx:advice>
	<tx:annotation-driven />

</beans>
